@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");

:root {
  --dark-gray: #121212;
  --gray: #353535;
  --pastel-green: #4faa75;
  --pastel-darkgreen: #357951;
  --break-white: #ebebeb;
  --pastel-blue: #5c6bc0;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: var(--break-white);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--gray);
  font-family: "Quicksand", sans-serif;
}

/* --- --- CATEGORIA --- --- */
main {
  margin: 4em auto;
  width: 90%;
}
main .categoria {
  z-index: 2;
  display: flex;
  background-color: var(--pastel-green);
  margin: 10px 0 10px 0;
  height: 2.5em;
  border-radius: 10px;
}
.categoria.active, .categoria:hover {
  background-color: var(--pastel-darkgreen); 
}
main .categoria img {
  width: auto;
  height: 100%;
  padding: 0 20px;
}
main .categoria h2 {
  display: flex;
  font-family: "Quicksand", sans-serif;
  color: var(--break-white);
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  padding: 0 10px 0 20px;
  align-items: center;
}
main .categoria h2::after {
  margin-left: .5em;
  content: "+";
}
main .categoria.active h2::after {
  margin-left: .5em;
  content: "-";
}


/* --- --- ELEMENTO --- --- */
main .block {
  display: none;
}

main .element {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  min-height: 2.5em;
}
main .element .txt {
  display: flex;
  flex-direction: column;
}
main .element .txt h3 {
  font-size: 1.3em;
  text-transform: uppercase;
}
main .element .txt p {
  font-family: sans-serif;
  max-width: 100%;
  margin-right: 20px;
}
main .element .precio {
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  padding: 0 10px;
  font-size: 1.5em;
  font-weight: bold;
}

/*  RESPONSIVE
   ========================================================================= 
 Escritorios muy grandes
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  .block {
    margin-left: 200px;
    margin-right: 200px;
  }
}
/* Tablets en horizonal y escritorios normales
      ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) {
  body {
    font-size: 20px;
  }
  .block {
    width: 70%;
  }
}
/* Móviles en horizontal o tablets en vertical
      ------------------------------------------------------------------------- */
@media (max-width: 767px) {
  body {
    font-size: 20px;
  }
}
/* Móviles en vertical
      ------------------------------------------------------------------------- */
@media (max-width: 480px) {
  body {
    font-size: 15px;
  }
}
