@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&family=Bree+Serif&family=Pacifico&display=swap");

:root {
  --dark-gray: #121212;
  --pastel-green: #4faa75;
  --pastel-darkgreen: #357951;
  --break-white: #ebebeb;
  --pastel-blue: #5c6bc0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
a:visited {
  color: var(--break-white);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--break-white);
}

/* MAIN  */

.arrow-home {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-bottom: 40px;
}
.arrow-home i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
main .inicio {
  position: relative;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

main .inicio #background-cover {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
main .inicio #logo {
  width: 100%;
  height: auto;
  text-align: center;
}
main .inicio img {
  object-fit: cover;
  width: 80%;
}

@media screen and (min-width: 768px) {
  main .inicio img {
    width: 30%;
  }
}

/* MAIN instalaciones */

main .instalaciones {
  position: relative;
  /* padding: 1em 0; */
  height: 100vh;
  /* background-color: var(--pastel-darkgreen); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 4fr 1.5fr;
  grid-template-areas:
    "boxInstal2 boxInstal1"
    "boxInstal4 boxInstal1"
    "boxInstal4 boxInstal3";
}
main .instalaciones .boxInstal1 {
  grid-area: boxInstal1;
  position: relative;
  overflow: hidden;
}
main .instalaciones .boxInstal1 > .splide {
  width: 50vw;
}
main .instalaciones .boxInstal2 {
  grid-area: boxInstal2;
  background-color: var(--pastel-green);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main .instalaciones .boxInstal2 h2 {
  font-size: 2.5em;
  margin: 1.5em 3em 0 0;
  font-family: "Quicksand", serif;
  font-weight: 1000;
  color: var(--break-white);
  text-align: center;
  padding: 0;
}
main .instalaciones .boxInstal3 {
  grid-area: boxInstal3;
  background-color: var(--pastel-blue);
}
main .instalaciones .boxInstal4 {
  grid-area: boxInstal4;
  background-color: var(--break-white);
}

/* MAIN bar */

main .bar {
  height: 100vh;
  width: 100%;
  background-image: url("../images/bar_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

main .bar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
main .bar h2 {
  position: absolute;
  margin: 2em;
  z-index: 3;
  font-size: 2.5em;
  font-family: "Quicksand", serif;
  font-weight: 1000;
  color: var(--break-white);
  text-align: center;
  padding: 0;
}

main .bar .bar-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60%;
  left: 0;
  right: 0;
  bottom: 60%;
  margin: auto;
}

main .bar .bar-buttons .button {
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  background-color: rgb(235, 233, 233);
  border: 3px solid rgb(235, 233, 233);
}

main .bar .bar-buttons .button:hover {
  background-color: var(--pastel-green);
  border-color: var(--pastel-green);
  color: rgb(235, 233, 233);
}

main .bar .bar-buttons a span,
.bar-buttons a:visited {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  color: var(--dark-gray);
}
main .bar .alerg,
main .bar .alerg:visited {
  color: var(--break-white);
  text-align: center;
  text-decoration: underline;
}

/* MAP & CONTACT */
main .map_contact hr {
  background-color: var(--pastel-green);
  border: 2px solid var(--pastel-green);
}
main .map_contact {
  background-color: var(--pastel-darkgreen);
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0.5em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "boxMap boxContact"
    "boxSocialInfo boxContactInfo";
}
/* --- MAP BOX --- */
main .map_contact .boxMap {
  grid-area: boxMap;
  width: 100%;
  height: 100%;
}
/* --- SOCIAL BOX --- */
main .map_contact .boxSocialInfo {
  grid-area: boxSocialInfo;
  background-color: var(--pastel-blue);
  padding: 2em;
}
main .map_contact .boxSocialInfo h4 {
  color: var(--break-white);
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 1.25em;
  font-weight: 1000;
  margin: 1em 0;
}
main .map_contact .boxSocialInfo .social_list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
main .map_contact .boxSocialInfo .social a {
  color: var(--break-white);
  font-size: 3em;
  margin-right: 1em;
  transition: all 0.3s ease;
}
main .map_contact .boxSocialInfo .social a:hover {
  font-size: 3.25em;
}
/* --- CONTACT BOX --- */
main .map_contact .boxContact {
  grid-area: boxContact;
  background-color: var(--break-white);
  color: var(--dark-gray);
  padding: 3em;
}
main .map_contact .boxContact h2 {
  font-size: 2.5em;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
}
main .map_contact .boxContact h4 {
  margin: 0.5em;
  font-size: 1.5em;
  font-family: "Quicksand", sans-serif;
}
main .map_contact .boxContact span {
  margin: 0.5em;
  font-weight: bold;
}
/* CONTACT FORM */
main .map_contact .boxContact .form-group {
  margin: 0.75em 0;
}
main .map_contact .boxContact .form-group.fechahora {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
main .map_contact .boxContact .form-group label {
  padding: 1em;
}
main .map_contact .boxContact .input {
  margin-top: 0.25em;
  padding: 1em;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #ffffff;
}
main .map_contact .boxContact #comments {
  width: 100%;
  max-width: 100%;
  outline: none;
  border-radius: 10px;
  padding: 0.5em;
}
main .map_contact .boxContact .input:focus,
#comments:focus {
  box-shadow: 0 0 0 2pt var(--pastel-green);
}
main .map_contact .boxContact #date,
main .map_contact .boxContact #hour {
  width: 30%;
  padding: 1em;
  border: none;
  background-color: #ffffff;
  margin: 0 1em;
  border-radius: 10px;
}
main .map_contact .boxContact [type="submit"] {
  cursor: pointer;
  color: var(--break-white);
  background-color: var(--pastel-green);
  padding: 1em;
  border: none;
  border-radius: 10px;
  text-align: center;
}
/* --- CONTACT INFO BOX --- */
main .map_contact .boxContactInfo {
  color: var(--break-white);
  font-family: "Quicksand", sans-serif;
  font-size: 2em;
  grid-area: boxContactInfo;
  background-color: var(--pastel-green);
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .map_contact .boxContactInfo .contactinfo i {
  margin: 0 1em 0.15em 0;
}

/*  RESPONSIVE
   ========================================================================= 
 Escritorios muy grandes
   ------------------------------------------------------------------------- */
@media (min-width: 1200px) {
}
/* Tablets en horizonal y escritorios normales
        ------------------------------------------------------------------------- */
@media (min-width: 900px) and (max-width: 1199px) {
}
/* Móviles en horizontal o tablets en vertical
        ------------------------------------------------------------------------- */
@media (max-width: 899px) {
  @media only screen and (max-width: 900px) {
    main .instalaciones {
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 1fr 1fr 0.3fr;
      grid-template-areas:
        "boxInstal2"
        "boxInstal1"
        "boxInstal4"
        "boxInstal3";
    }
    main .instalaciones .boxInstal1 > .splide {
      width: 100vw;
    }
    main .map_contact {
      grid-template-columns: 3fr 0.5fr 0.5fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        /* "boxContact" */
        "boxMap"
        "boxContactInfo"
        "boxSocialInfo";
      width: 100%;
    }
    main .map_contact .boxMap {
      width: 100vw;
      height: 300px;
    }
    main .map_contact .boxContactInfo {
      width: 100vw;
      font-size: 1em;
    }
    main .map_contact .boxSocialInfo {
      width: 100vw;
      font-size: 0.6em;
    }
    main .map_contact .boxContact {
      width: 100vw;
    }
  }
}
/* Móviles en vertical
        ------------------------------------------------------------------------- */
@media (max-width: 480px) {
}
